services:
  - type: web
    name: internship-allocation-api
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: your_mongodb_atlas_connection_string